<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Historico de preços da gasolina na Madeira | GasoleoToday</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta
      name="keywords"
      content="madeira, gasolina, gasoleo, preços da gasolina, preços do gasoleo, preços da gasolina na Madeira, preços do gasoleo na Madeira, historico dos preços da gasolina na Madeira, historico dos preços do gasoleo na Madeira"
    />
    <meta name="description" content="Preços da gasolina na Madeira." />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="icon" type="image/png" href="../favicon.png" />
    <noscript>
      <link rel="stylesheet" href="../assets/css/noscript.css"
    /></noscript>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <a href="/" class="logo"><strong>GasoleoToday</strong></a>
      </header>

      <!-- Banner -->
      <section id="banner" class="major">
        <div class="inner">
          <header class="major">
            <h1>
              Historico - <%= year %>
            </h1>
          </header>
          <div class="content">
            <p class="date">
              <%= totalEntries %> semanas desde 2008 à sua disposição.
            </p>
          </div>
          <ul id="year-container" class="actions">
            <div class="years-flex">
              <li>
                <a
                  href="/historico/<%= year-1 %>"
                  class="button prev <%= year-1 < 2008 ? 'disabled' : '' %>"
                  ><%= year -1 %></a
                >
              </li>
              <li>
                <a class="button prev disabled"><%= year %></a>
              </li>
              <li>
                <a
                  href="/historico/<%= year+1 %>"
                  class="button prev <%= year +1 > curYear ? 'disabled' : '' %>"
                  ><%= year +1 %></a
                >
              </li>
            </div>
          </ul>
        </div>
      </section>

      <!-- Two -->
      <section id="two">
        <div class="inner">
          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Gasolina IO95</th>
                  <th>Gasóleo Rodoviário</th>
                  <th>Gasóleo Colorido</th>
                  <th>Semana do ano</th>
                </tr>
              </thead>
              <tbody>
                <% weeks.forEach(el => { %>
                <tr>
                  <td><%= el.start %></td>
                  <td><strong><%= el.gasolina.toFixed(3) %></strong></td>
                  <td><strong><%= el.gasoleo.toFixed(3) %></strong></td>
                  <td><strong><%= el.gasoleocolor.toFixed(3) %></strong></td>
                  <td><%= el.week %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <!-- Contact -->
      <section id="contact">
        <div class="inner">
          <section class="logo-split">
            <a href="/" class="logo-big"><strong>GasoleoToday</strong></a>
          </section>
          <section class="split">
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-envelope"></span>
                <h3>Email</h3>
                <a href="mailto:cpiresdev@gmail.com">cpiresdev@gmail.com</a>
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-globe"></span>
                <h3>
                  <a href="https://www.madeira.gov.pt/drett/"
                    >Direção Regional de Economia e Transportes Terrestres</a
                  >
                </h3>
              </div>
            </section>
          </section>
        </div>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li>
              <a
                href="https://twitter.com/terraextra"
                class="icon brands alt fa-twitter"
                ><span class="label">Twitter</span></a
              >
            </li>
            <li>
              <a
                href="https://github.com/Extraterra1"
                class="icon brands alt fa-github"
                ><span class="label">GitHub</span></a
              >
            </li>
          </ul>
          <ul class="copyright">
            <li>&copy; GasoleoToday</li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
